.search-bar-container {
  width: 300px;
  margin-left: 50px;
  margin-top: 60px;
  position: fixed;
  right: 50px;
}

.search-bar {
  padding: 10px 20px;
  background-color: rgb(239, 239, 239);
  display: grid;
  grid-template-columns: 1fr 24px;
  border-radius: 5px;
}
.search-bar:hover {
  background-color: white;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
}
